<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto my-10 px-4 py-6 bg-white rounded-md shadow-md">
        <p class="text-red-500 text-lg">Sorry, but something went wrong!</p>
        <p class="text-sm mt-2">Error details: {{ error_message }}</p>
    </div>
</body>
<a href="/home" class="text-blue-500 text-sm mt-4 underline">Back home</a>
</html>
